
.wrapper {
    text-align: center;
    width: 100%;
    overflow-y: none;
    margin-top: 20em;
}

.botao {
    text-transform: uppercase;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    width: 11em;
    height: 3em;
}

